body {
  margin: 0;
  padding: 0;
}

#container {
  position: relative;
  width: 1024px;
  height: 2000px;
  margin: 0px auto;
  background: #fff8e7;
}

/*@media
only screen and (-webkit-min-device-pixel-ratio: 1),
only screen and (   min--moz-device-pixel-ratio: 1),
only screen and (     -o-min-device-pixel-ratio: 1),
only screen and (        min-device-pixel-ratio: 1) {
  
*/  #bgImage {
    background: url('BG.jpg') no-repeat left top;
    background-size: contain;
    width: 1024px;
    height: 2000px;
  }
/*}*/

@media
only screen and (-Webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 

  #bgImage {
    background: url('BG@2x.jpg') no-repeat left top;
    -webkit-background-size:contain;
  }
}


#icon {
  position: absolute;
  top: 18px;
  left: 85px;
  background: url('icon@2x.png') no-repeat left top;
  background-size: contain;
  width: 227px;
  height: 227px;
}

#title {
  position: absolute;
  top: 104px;
  left: 150px;
  background: url('title@2x.png') no-repeat left top;
  background-size: contain;
  width: 323px;
  height: 275px;
}

#AppStoreButton {
  position: absolute;
  top: 390px;
  left: 150px;
  background: url('appStoreButton@2x.png') no-repeat left top;
  background-size: contain;
  width: 310px;
  height: 98px;
}

#BuyNowButton {
  display: block;
  position: absolute;
  top: 500px;  
  left: 150px;
  background: url('buyNowButton@2x.png') no-repeat left top;
  background-size: contain;
  width: 198px;
  height: 86px;
}